<h2>Admin - Dashboard</h2>
<div class="d-flex p-1 mb-2 bg-light px-5" style="font-size: 30px;">
  <div class="flex-sm-fill">
    <i class="fas fa-tachometer-alt"></i> Dashboard:
  </div>
  <div class="flex-sm-fill">
    <i class="fas fa-users-cog"></i> Admins 
    <span class="badge badge-info"><%=admins.length%></span>
  </div>
  <div class="mx-2 flex-sm-fill">
    <i class="fas fa-users"></i> Cliente <span class="badge badge-info"><%=clientes.length%></span>
  </div>
  <div class="flex-sm-fill">
    <i class="fas fa-shopping-cart"></i> Orden <span class="badge badge-info"><%=ordenes.length%></span>
  </div>
</div>

